* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  font-size: clamp(18px, 4vh, 24px); 
  font-weight: bold;
  background-color: #4793eb;
  color: #fff;
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  padding-top: 18px;
}
.sidebar img {
  filter: brightness(0) invert(1);
}

.sidebar .logo {
  display: flex;
  flex-direction: row;;
  align-items: center;
  gap: 24px;
  font-size: 1.4em; 
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 26px;
}

.sidebar-content,
.nav1,
.nav2 {
  padding-left: 32px;
  font-size: 1em;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.sidebar .nav1 li,
.sidebar .nav2 li {
  display: flex;
  align-items: center;;
  gap: 24px;
  margin: 12px 0;
}

.header {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  box-shadow: #868686 0px 2px 5px;
  position: relative;
  padding-top: 4px;
  padding-bottom: 6px;
}

.header .search {
  grid-column: 1;
  grid-row: 1;
  padding: 12px 0 12px 5%;
  gap: 12px;
  align-items: center;
}
.header .search label {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: flex;
}
.header .search input {
  border: none;
  outline: none;
  color: #000;
  font-size: 14px;
  width: 80%;
  border-radius: 10px;
  padding: 3px 0 3px 12px;
  background-color: #dee4ec;
}

.header .notifications {
  color: #000;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
  margin-right: 15%;
  gap: 7%;
  font-size: 16px;
  font-weight: bold;
}
.header .notifications .profilepicmini {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .profile {
  color: #000;
  grid-column: 1 / 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  padding-left: 5%;
  gap: 12px;
  justify-content: flex-start;
  font-size: 1em;
}

.header .profile .profilepic {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .profile .salute {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header .profile .salute .text {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 5%;
}

.header .profile .salute .profile {
  font-size: clamp(18px, 4vh, 24px);
  font-weight: bold;
  display: block;
  text-align: left;
  margin-top: 2px;
  white-space: nowrap;
}

.header .menu {
  color: #fff;
  grid-column: 2 / 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px 7%;
  padding: 12px;
  margin-right: 15%;
  width: 90%;
}

.header .menu button {
  font-size: 14px;
  font-weight: normal;
  padding: 7px 20px;
  border-radius: 25px;
  border: none;
  background-color: #4793eb;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 12px;
  padding: 12px;
  background-color: #bccbde;
  padding-bottom: 32px;
}

.main-content h3 {
  font-size: clamp(13px, 1.8vh, 15px);
  color: #000;
  font-weight: bold;
}

.main-content .projects {
  text-align: left;
  padding: 12px;
}

h2 {
  font-size: clamp(16px, 3vh, 18px);
  color: #000;
  font-weight: bold;
}

h3 {
  font-size: clamp(13px, 1.8vh, 15px);
  color: #000;
  font-weight: bold;
}

p {
  font-size: 12px;
  font-weight: normal;
  color: #000;
}

.main-content .projects h3 {
  font-size: clamp(18px, 2.5vh, 22px);
}

.main-content .projects .projects-header {
  color: #fff;
  grid-column: 1;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px;
  padding-top: 12px;
  height: calc(100% - 24px);
}

.main-content .projects .projects-header .project-card {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  padding: 28px;
  box-shadow: #868686 2px 2px 5px;
  border-radius: 10px;
  border-left: #ebbe2b 12px solid;
  min-width: 270px;
}

.main-content .projects .projects-header .project-card .text {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.main-content .projects .projects-header .project-card h3 {
  font-size: clamp(16px, 2.2vh, 20px);
}

.main-content .projects .projects-header .project-card p {
  font-size: 15px;
  color: #6b6b6b;
}

.main-content .projects .projects-header .project-card .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

/* News section */
.main-content .news {
  grid-column: 2;
  grid-template-rows: 1fr 1fr;
  display: grid;
  color: #000;
  text-align: left;
  padding: 12px;
  gap: 24px;
}

.main-content .news .announcements {
  grid-row: 1;
  color: #fff;
  gap: 12px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 300px;
}

.main-content .news .announcements .announcements-card {
  background-color: #fff;
  color: #000;
  padding: 28px;
  border-radius: 10px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: #868686 2px 2px 5px;
}

.main-content .news .announcements .announcements-card .announcements-card1,
.main-content .news .announcements .announcements-card .announcements-card2,
.main-content .news .announcements .announcements-card .announcements-card3 {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-content .news .announcements .announcements-card .announcements-card1,
.main-content .news .announcements .announcements-card .announcements-card2 {
  border-bottom: #caccd1 1px solid;
  padding-bottom: 16px;
}

.main-content .news .announcements .announcements-card p {
  font-size: 12px;
  font-weight: normal;
  color: #7c7c7c;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content .news .trending {
  color: #fff;
  grid-row: 2;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.main-content .news .trending .trending-card {
  background-color: #fff;
  color: #000;
  padding: 28px;
  border-radius: 10px;
  height: 100%;
  box-shadow: #868686 2px 2px 5px;
}
.main-content .news .trending .trending-card1,
.main-content .news .trending .trending-card2,
.main-content .news .trending .trending-card3,
.main-content .news .trending .trending-card4 {
  display: flex;
  align-items: center;
  gap: 12px;
}
.main-content .news .trending .trending-card img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.main-content .news > h3 {
  font-size: clamp(18px, 2.5vh, 22px);
}
.main-content .news .announcements > h3 {
  font-size: clamp(18px, 2.5vh, 22px);
}
.main-content .news .trending > h3 {
  font-size: clamp(18px, 2.5vh, 22px);
}